<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Example - example-http-service-production</title>


    <script src="C:\Users\anita\Documents\info\III.ev\project proba\Angular\angular.min.js"></script>
    <script src="script.js"></script>


</head>

<body ng-app="httpExample">
    <div ng-controller="FetchController">

        <input type="text" ng-model="url" size="80" aria-label="URL" />
        <button id="fetchbtn" ng-click="fetch()">fetch</button><br>
        <button id="samplegetbtn" ng-click="updateModel('GET', 'http-hello.html')">Sample GET</button>

        <pre>http status code: {{status}}</pre>
        <pre>http response data: {{data}}</pre>
    </div>
</body>

</html>